/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #3498db;
  }
  
  .nav-item {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .nav-right {
    display: flex;
  }
  